.about .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.about .section-title h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.about .image-about {
  max-width: 40%;
  padding: 0 15px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-in-out;
}

.about .image-about.visible {
  opacity: 1;
  transform: translateY(0);
}

.about .img-box {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.about .image-about img {
  border: 10px solid transparent;
  border-radius: 5px;
}

.about .informations-about {
  max-width: 50%;
  padding: 0 25px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-in-out;
}

.about .informations-about.visible {
  opacity: 1;
  transform: translateY(0);
}

.about .informations-about p,
.about .informations-about li {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 400;
}

.about .informations-about ul {
  list-style: disc;
  margin-left: 20px;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.about .informations-about li {
  margin-bottom: 10px;
}
